<br><br><br><br><br><br><br>
<div style="margin: auto; width: 400px">
  <h1 style="margin: auto; width: 50%">
    {{actorDetails.name}}
    </h1>  <br>
    <img [src]="actorImage()" alt="" width="300px">
    <br>
  <h3 style="margin: auto; width: 50%">
    {{actorDetails.popularity}} <br> Followers
  </h3> <br>
  <h3 style="margin: auto; width: 50%">
    {{actorDetails.birthday}} <br> Birthday
  </h3> <br>
  <h3 style="margin: auto; width: 50%">
    {{actorDetails.place_of_birth}} <br> Place of Birth
  </h3>
</div>


