<tr>
  <th
    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center"
  >
    <span
      class="ml-3 font-bold"
      [ngClass]="color === 'light' ? 'text-blueGray-600' : 'text-white'"
    >
      <img
        [src]="actorImage()"
        class="w-12 bg-white rounded-full border"
        onerror="this.onerror = null; this.src='https://us.123rf.com/450wm/kritchanut/kritchanut1405/kritchanut140500356/28235038-icono-de-la-silueta-del-hombre-con-signo-de-interrogaci%C3%B3n-concepto-an%C3%B3nima-y-sospechoso.jpg?ver=6'"
      />
    </span>
  </th>
  <td
    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
  >
    {{ actor.name }}
  </td>
  <td
    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
  >
    <i class="fas fa-circle text-emerald-500 mr-2"></i>
    <button style="margin: auto;" [routerLink]="['/actor-details', actor.id]">
      DETAILS
    </button>
  </td>
  <td
    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
  >
    <div class="flex">
      <img
        src="assets/img/team-1-800x800.jpg"
        alt="..."
        class="w-10 h-10 rounded-full border-2 border-blueGray-50 shadow"
      />
      <img
        src="assets/img/team-2-800x800.jpg"
        alt="..."
        class="w-10 h-10 rounded-full border-2 border-blueGray-50 shadow -ml-4"
      />
      <img
        src="assets/img/team-3-800x800.jpg"
        alt="..."
        class="w-10 h-10 rounded-full border-2 border-blueGray-50 shadow -ml-4"
      />
      <img
        src="assets/img/team-4-470x470.png"
        alt="..."
        class="w-10 h-10 rounded-full border-2 border-blueGray-50 shadow -ml-4"
      />
    </div>
  </td>
  <td
    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
  >
    <div class="flex items-center">
      <span class="mr-2">100%</span>
      <div class="relative w-full">
        <div class="overflow-hidden h-2 text-xs flex rounded bg-emerald-200">
          <div
            style="width: 100%"
            class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-emerald-500"
          ></div>
        </div>
      </div>
    </div>
  </td>
  <td
    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right"
  >
    <app-table-dropdown></app-table-dropdown>
  </td>
</tr>
